$colors: (
    common: (
        white: #ffffff,
        black: #020000,
        black-1: #5C5C5C,
        black-2: #7f8897,
    ),
    heading: (
        primary: #020000,
        secondary: #3f4161,
        tertiary: #7f8897,
        quaternary: #a6aeb5,
        quinary: #c5c5c5,
        senary: #e0e0e0,
        septenary: #f4f4f4,
        octonary: #f8f8fc,
        nonary: #fafafa,
        denary: #ffffff,
    ),
    grey: (
        1:#c5c5c5,
        2: #aeaeae,
        3: #F5F5F5,
        4: #999999,
        5: #F4F4F4,
        6: #f8f8fc,
        7: #a6aeb5,
        8: #edf2f6,
        9: #3c3c3c
    ),
    text: (
        body:#020000,
        1:#3f4161,
        2:#4285F4,
        3:#D0E0FC,
        4:#7f8897,
        5: #ff8b03,
        6: #0a90f8,
        7: #0abb0e,
    ),
    theme: (
        1: #4285F4,
        2: #D0E0FC,
        3: #F6F9FE,
        4: #0a90f8,
        5: #0abb0e,
    ),
    border: (
        1: #ededed,
        2: #e9e9e9,
        3: #999999,
        4: #7e3cf9,
        5: #4285F4,
        6: #ff8b03,
        7: #0a90f8,
        8: #1474bf,
    )
);
